*{
    margin:0;
    padding: 0;
}
body{
    background-color: blue;
}
h1{
    color: yellow;
    text-align: center;
    text-decoration: underline;
    font-size: 65px;

}

p{
    color: yellow;
    margin:auto;
    font-size: 25px;
    padding: 3%;
}

#reintentar{
background-color: red;
}